<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Django test</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название задачи</label><br>
            <input type="text" name="description" value="{{task.description}}" />
        </p>
        <p>
            <label>Укажите статус</label><br>
            <input type="checkbox" name="status" value="{{task.status}}" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>